:root {
  --color-primary: #F75A21;
  --color-secondary: #C63D13;
  --color-contrast: #242424;
  --color-bg: #FFF8F5;
  --color-white: #FFFFFF;

  --title: 2rem;

  --overlay-dark: rgba(0, 0, 0, 0.45);

  --color-hover: #E44A14;

  --color-border: #F4D7CB;
  --color-muted: #757575;
}